SELECT TOP 100 * FROM dbo.DimAuthors
SELECT TOP 100 * FROM dbo.DimStores
SELECT TOP 100 * FROM dbo.DimPublishers
SELECT TOP 100 * FROM dbo.DimDates
SELECT TOP 100 * FROM dbo.DimTitles
SELECT TOP 100 * FROM dbo.FactSales
SELECT TOP 100 * FROM dbo.FactTitlesAuthors

